<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Csss-cyber dashboard</title>
    <link rel="stylesheet" href="/static/css/home/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

    <style>
   
    </style>
</head>
<body>
    <aside>
       
<img src="/asset/image/user-circles-set (1)/296fe121-5dfa-43f4-98b5-db50019738a7.jpg" alt="">
<h3>Abel Samuel</h3>
<div class="list" id="list">
    <h3><a href=""><i class="fas fa-home"></i> Home</a></h3>
    <h3><a href=""><i class="fas fa-flag"></i> Ctf</a></h3>
    <h3><a href=""><i class="fas fa-newspaper"></i> News</a></h3>
    <h3><a href=""><i class="fas fa-edit"></i> Post</a></h3>
    <h3><a href=""><i class="fas fa-book"></i> Study</a></h3>
    <h3><a href=""><i class="fas fa-user"></i> Profile</a></h3>
    <h3><a href=""><i class="fas fa-sign-out-alt"></i> Logout</a></h3>
</div>

    </aside>
    <main>
        <input type="text">
    </main>
    <script src="/static/js/home/dashboard.js"></script>
</body>
</html>