<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/auth/signup.css">
    <title>Csss-Cyber Signup</title>
</head>
<body>

    <!-- main-part -->

    <main id="main">

        <!-- left-part -->

        <div class="left">
            <img src="" alt="">
            <h1>Login-page</h1>
            <h3>Welcome back to Csss-Cyber let's get dive
                into cyber world from Csss-Cyber departement.
            </h3>
        </div>

        <!-- right-part -->

        <div class="right">

            <!-- form -->

            <form action="">

                <!-- username form -->

                <label for="">Username</label>
                <input type="text" placeholder="Abebe">

                <!-- password form -->

                <label for="">Password</label>
                <input type="text" placeholder="......">

                <!-- submit button -->
                <button type="submit">Login</button>


                <span>Do not an account? <a href="">Signup</a></span>
            </form>
        </div>
    </main>

    <!-- js script -->

    <script src="/static/js/auth/login.js"></script>
</body>
</html>